<div class="container">
    <div class="row">
        <div class="col">

            <h3>Department</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Title</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Instructor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let department of departmentList">
                    <th scope="row">{{ department.departmentID }}</th>
                    <td>{{ department.name }}</td>
                    <td>{{ department.budget }}</td>
                    <td>{{ department.administrator.fullName }}</td>
                  </tr>
                </tbody>
            </table>

        </div>
      </div>
</div>