<div class="container">
    <div class="row">
        <div class="col">

            <h3>Courses</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Title</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Department</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let course of courseList">
                    <th scope="row">{{ course.courseID }}</th>
                    <td>{{ course.title }}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.department.name }}</td>
                  </tr>
                </tbody>
            </table>

        </div>
      </div>
</div>