<div class="container">
    <div class="row">
        <div class="col">

            <h3>Instructor</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Instructor's Name</th>
                    <th scope="col">Hire Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let instructor of instructorList">
                    <th scope="row">{{ instructor.id }}</th>
                    <td>{{ instructor.fullName }}</td>
                    <td>{{ instructor.hireDate }}</td>
                  </tr>
                </tbody>
            </table>

        </div>
      </div>
</div>