<div class="container">
    <div class="row">
        <div class="col">

            <h3>Students</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Enrollment Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of studentList">
                    <th scope="row">{{ student.id }}</th>
                    <td>{{ student.fullName }}</td>
                    <td>{{ student.enrollmentDate }}</td>
                  </tr>
                </tbody>
            </table>

        </div>
      </div>
</div>